<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>

<h2 th:text="'Les articles publies dans ce numero :'"/>
<ul>
    <li th:each="article : ${articles}">
        <h2 th:text="${article.titre}"></h2>
        <p style="color: green;" th:text="'Theme : ' + ${article.theme}"/>
        <p style="color: cornflowerblue" th:text="'Contenu : '"></p>
        <p th:text="${article.contenu}"></p>
    </li>
</ul>
<br/>
<form action="/">
    <button type="submit">Revenir vers l'acceuil</button>
</form>
</body>
</html>