<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assistant Redacteur</title>
</head>
<body>
<h1>IDENTIFICATION ASSISTANT REDACTEUR</h1>
<!-- on a ajouté des minlength pour éviter les logins / mdp trop courts (et vides) -->
<form action="#" th:action="@{/assistant/login}" th:object="${utilisateurDTO}" method="post">
    <p>Veuillez saisir le mot de passe du compte assistant redacteur en chef :</p>
    <p>Password: <input type="password" th:field="*{password}" minlength="3"/></p>
    <p><button type="submit" value="Submit" /> Envoyer</button></p>

    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li  style="color: red;" th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </ul>
    </div>
</form>


</body>
</html>