<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assistant Redacteur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>

<h3 class="display-4 font-weight-bold text-center">IDENTIFICATION ASSISTANT REDACTEUR</h3>

<div class="container">
    <form action="#" th:action="@{/assistant/login}" th:object="${utilisateurDTO}" method="post">
        <div class="form-group">
            <label>Veuillez entrer le mot de passe du compte assistant :</label>
            <input class="form-control" type="password" placeholder="Password" th:field="*{password}" minlength="3">
        </div>
        <br>
        <button class="btn btn-success btn-block" type="submit">Se Connecter</button>
        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li style="color: red;" th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </ul>
        </div>
    </form>
</div>

</body>
</html>